@if (controls?.errors&&controls?.touched) {
  <div class="text-sm text-error">
    @if (controls?.getError('required')) {
      <li>This field is required</li>
    }
    @if (controls?.getError('minlength')) {
      <li>Minimum length is {{controls?.getError('minlength').requiredLength}}</li>
    }
    @if (controls?.getError('maxlength')) {
      <li>Maximum length is {{controls?.getError('maxlength').requiredLength}}</li>
    }
    @if (controls?.getError('email')) {
      <li>Invalid email</li>
    }
    @if (controls?.getError('pattern')) {
      <li>Invalid pattern</li>
    }


  </div>
}


@if (controls?.getError('passwordMismatch')&& controls?.get('rePassword')?.touched) {
  <span class="text-sm text-error">Password does not match</span>
}
