@keyframes toast-in {
  from {
    transform: translateY(20px) translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
}

@keyframes progress-bar {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

.toast-container {
  /*Add a subtle shake animation when a new toast appears*/
  &:has(.animate-toast-in) {
    animation: subtle-shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }
}

.animate-toast-in {
  animation: toast-in 0.4s cubic-bezier(0.21, 1.02, 0.73, 1) forwards;
}

.toast-progress-bar {
  animation: progress-bar linear forwards;

  &.paused {
    animation-play-state: paused;
  }
}

@keyframes subtle-shake {
  0% { transform: translateY(0); }
  25% { transform: translateY(-3px); }
  50% { transform: translateY(0); }
  75% { transform: translateY(-1px); }
  100% { transform: translateY(0); }
}


.toast-item a:active::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: rgba(255, 255, 255, 0.2);
  transform: translate(-50%, -50%) scale(0);
  animation: ripple 0.5s ease-out;
}

@keyframes ripple {
  to {
    transform: translate(-50%, -50%) scale(2);
    opacity: 0;
  }
}
